/service/target
/mongo/target
/core/target
/target/
/client-java/target/
/client-osgi/target/
/model/target/
/test-util/target
/camel/target
/test-util - Copy/target/
/shiro-test-util/target/
/test/target/
/dynamodb/target/